name: PR Checks

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  pr-title-check:
    name: PR Title Check
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - name: Is PR title valid?
        uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-image:
    name: Does the Docker image build?
    runs-on: ubuntu-latest
    needs: pr-title-check
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build (no push)
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: false
          load: true
          tags: |
            test-${{ github.sha }}
