name: Release-bump

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  release-please:
    name: Create release tag (release-please)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Bump tag if necessary
        id: ccv
        uses: smlx/ccv@v0.10.0
